$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: $blue-gray-body;
  color: $font-color;
}

h6 {
  color: $cornflower-blue;
  display: inline-block;
  text-align: center;
}


nav {
  background: $gainsboro;

  ul {
    padding: 15px 15px 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}
}

h1 {
  color: $cornflower-blue;
  display: inline-block;
  text-align: center;
}

h3 {
  // https://fonts.google.com/?selection.family=Cinzel&category=Serif,Sans+Serif,Display&sort=popularity
  font-family: 'Cinzel', serif;
  color: $cornflower-blue;
  text-align: center;
}

p {
  text-align: center;
}


